In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
pop_male = pd.read_csv('1인가구_남자.csv', encoding='cp949', index_col=0)
pop_female = pd.read_csv('1인가구_여자.csv', encoding='cp949', index_col=0)
crime = pd.read_csv('년,월별 총 범죄데이터.csv', encoding='cp949', index_col=0)
crime_rate = pd.read_csv('년도별 범죄율 데이터만.csv', encoding='cp949', index_col=0)
pop = pd.read_csv('자치구별 주민등록인구.csv', encoding='cp949', index_col=0)

df = pd.concat([pop_male, pop_female, crime, crime_rate, pop], axis=1)
df.head()

,2020_20대_남자,2020_30대_남자,2020_40대_남자,2020_50대_남자,2021_20대_남자,2021_30대_남자,2021_40대_남자,2021_50대_남자,2022_20대_남자,2022_30대_남자,...,2020_등록외국인,2020_고령자,2021_세대수,2021_힌국인,2021_등록외국인,2021_고령자,2022_세대수,2022_힌국인,2022_등록외국인,2022_고령자
강남구,5736,10181,5750,3512,5733,10501,6018,4008,5765,10686,...,4824,75096,234233,533042,4758,78226,232777,529102,5001,81715
강동구,3599,6026,4357,4360,4321,6713,4572,4672,4389,6974,...,4028,70019,201613,462664,3808,74070,202169,460067,3970,78340
강북구,3119,3973,3644,4240,3387,4239,3642,4447,3639,4485,...,3514,63422,144536,299182,3381,64333,144313,293660,4042,66307
강서구,7431,12363,6444,5323,8264,13593,6877,5584,8684,14599,...,5716,88984,271175,574315,5453,92558,273697,569166,5472,97128
관악구,24849,20454,8698,6451,25945,21558,9189,6902,27855,23214,...,14743,78875,276597,485699,13750,79871,283623,486752,14474,82447

In [3]:
df.to_csv('concatdata_withoput_weather.csv', encoding='cp949')

In [8]:
df = df.rename(columns=lambda x: x.replace('힌국인', '한국인'))
df.columns

Index(['2020_20대_남자', '2020_30대_남자', '2020_40대_남자', '2020_50대_남자',
       '2021_20대_남자', '2021_30대_남자', '2021_40대_남자', '2021_50대_남자',
       '2022_20대_남자', '2022_30대_남자', '2022_40대_남자', '2022_50대_남자',
       '2020_20대_여자', '2020_30대_여자', '2020_40대_여자', '2020_50대_여자',
       '2021_20대_여자', '2021_30대_여자', '2021_40대_여자', '2021_50대_여자',
       '2022_20대_여자', '2022_30대_여자', '2022_40대_여자', '2022_50대_여자',
       '20년1월_범죄건수', '21년1월_범죄건수', '22년1월_범죄건수', '20년2월_범죄건수', '21년2월_범죄건수',
       '22년2월_범죄건수', '20년3월_범죄건수', '21년3월_범죄건수', '22년3월_범죄건수', '20년4월_범죄건수',
       '21년4월_범죄건수', '22년4월_범죄건수', '20년5월_범죄건수', '21년5월_범죄건수', '22년5월_범죄건수',
       '20년6월_범죄건수', '21년6월_범죄건수', '22년6월_범죄건수', '20년7월_범죄건수', '21년7월_범죄건수',
       '22년7월_범죄건수', '20년8월_범죄건수', '21년8월_범죄건수', '22년8월_범죄건수', '20년9월_범죄건수',
       '21년9월_범죄건수', '22년9월_범죄건수', '20년10월_범죄건수', '21년10월_범죄건수', '22년10월_범죄건수',
       '20년11월_범죄건수', '21년11월_범죄건수', '22년11월_범죄건수', '20년12월_범죄건수',
       '21년12월_범죄건수', '22년12월_범죄건수', '20년_범죄율', '21년_범죄율', '22년_범죄율', '총범죄건수',
       '2020_세대수', '2020_한국인', '2020_등록외국인', '2020_고령자', '2021_세대수',
       '2021_한국인', '2021_등록외국인', '2021_고령자', '2022_세대수', '2022_한국인',
       '2022_등록외국인', '2022_고령자'],
      dtype='object')

## StandardScaler and MinMaxScaler

In [3]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [9]:
print('feature mean')
print(df.mean())
print('feature var')
print(df.var())

feature mean
2020_20대_남자      6276.80
2020_30대_남자      6911.48
2020_40대_남자      4138.96
2020_50대_남자      3805.80
2021_20대_남자      6721.16
                 ...
2021_고령자        64216.64
2022_세대수       177851.84
2022_한국인       377134.88
2022_등록외국인       9571.88
2022_고령자        66696.44
Length: 76, dtype: float64
feature var
2020_20대_남자    2.121590e+07
2020_30대_남자    1.443382e+07
2020_40대_남자    2.231229e+06
2020_50대_남자    1.343251e+06
2021_20대_남자    2.319006e+07
                   ...
2021_고령자       3.584072e+08
2022_세대수       3.217197e+09
2022_한국인       1.614719e+10
2022_등록외국인     3.467302e+07
2022_고령자       4.045865e+08
Length: 76, dtype: float64

In [11]:
scaler = MinMaxScaler()

In [12]:
scaler.fit(df)
df_normalized = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [14]:
df_normalized.head()

,2020_20대_남자,2020_30대_남자,2020_40대_남자,2020_50대_남자,2021_20대_남자,2021_30대_남자,2021_40대_남자,2021_50대_남자,2022_20대_남자,2022_30대_남자,...,2020_등록외국인,2020_고령자,2021_세대수,2021_한국인,2021_등록외국인,2021_고령자,2022_세대수,2022_한국인,2022_등록외국인,2022_고령자
0,0.172884,0.426762,0.577953,0.364266,0.158815,0.410356,0.573790,0.4212,0.147335,0.383039,...,0.104712,0.733475,0.779879,0.766169,0.122802,0.734444,0.765121,0.759087,0.130046,0.721618
1,0.080405,0.194911,0.378525,0.547696,0.100050,0.208351,0.379435,0.5540,0.094222,0.200236,...,0.074068,0.659883,0.630860,0.634827,0.080395,0.677745,0.627069,0.630856,0.080498,0.678634
2,0.059633,0.080353,0.276450,0.521739,0.061179,0.076419,0.254435,0.5090,0.065272,0.077662,...,0.054281,0.564258,0.370113,0.329732,0.061334,0.544905,0.366120,0.321758,0.083958,0.525383
3,0.246235,0.548518,0.677309,0.756003,0.264150,0.575245,0.689247,0.7364,0.260007,0.575741,...,0.139051,0.934786,0.948643,0.843194,0.153826,0.929972,0.949683,0.833505,0.152682,0.917917
4,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.000000,...,0.486565,0.788253,0.973412,0.677816,0.524194,0.756886,0.994452,0.680423,0.585304,0.730941

In [16]:
feature_df_scaled = pd.DataFrame(data=df_scaled, columns=df.columns)

print('feature mean') 
print(feature_df_scaled.mean()) 

print('feature var') 
print(feature_df_scaled.var())

feature mean
2020_20대_남자   -4.440892e-17
2020_30대_남자    9.769963e-17
2020_40대_남자   -6.661338e-18
2020_50대_남자   -1.598721e-16
2021_20대_남자    7.993606e-17
                   ...
2021_고령자       1.998401e-17
2022_세대수       4.107825e-17
2022_힌국인      -4.551914e-17
2022_등록외국인     1.376677e-16
2022_고령자      -1.043610e-16
Length: 76, dtype: float64
feature var
2020_20대_남자    1.041667
2020_30대_남자    1.041667
2020_40대_남자    1.041667
2020_50대_남자    1.041667
2021_20대_남자    1.041667
                 ...
2021_고령자       1.041667
2022_세대수       1.041667
2022_힌국인       1.041667
2022_등록외국인     1.041667
2022_고령자       1.041667
Length: 76, dtype: float64